.cart-page-container {
    margin-top: 20px;
}

.cart-item-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.cart-item-card img {
    object-fit: cover;
}

.cart-item-card .MuiCardContent-root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.cart-item-card .MuiButtonBase-root {
    margin-top: auto;
}
